<!Doctype html>
<html>
  <head>
    <title>Text to List Generator</title>
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet"      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    
    <h1 class="text-center mt-4">Text to List Generator</h1>
   
   <div id="app" class="container" style="width: 600px;">
      
      <div style="padding:0px; margin:0px;text-align:center;" >
        <p class="badge badge-warning text-center"  >{{ errorText }}</p>
      </div>
      
      <ul class="list-group mt-1" v-if="lists.length != 0">
        <li class="list-group-item" v-for="list in lists">
          {{ list }}
        </li>
      </ul>
      
      <div class="form-group mt-3">
        <textarea rows="10" v-model="result" @keyup.enter="generateList(1)" class="form-control">
        </textarea>
      </div>
      
      <input type="submit"  class="btn btn-primary" v-on:click="generateList(2)" value="Generate">
      
      <input type="checkbox" class="ml-4" v-model="check"  />
      <label>Allow enter key to submit</label>
      
    </div>
	

       <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	  
	       <script>
	  var app = new Vue({
  el: '#app',
  data: {
    result: '',
    lists: [],
  },
 methods: {
     generateList:function(type){
 
   if(type == 1){
        if(this.check){
          this.performGenerate()
        }else{
          return
        }
   }else{
      this.performGenerate()
   }
 
 },

performGenerate: function(){
    if(this.result != "") {
        const list = this.result.trim().split(".")
          if(list[list.length - 1] === '')list.pop()
          this.lists = list
          this.result = ""
    }else{
    		this.errorText = "We need those lengthy words you know!"
      setTimeout(()=> this.errorText = "", 1000)
    }
}
  }
})
	  
     </script>    

  </body>
</html>
