<!Doctype html>
<html>
  <head>
    <title>Text to List Generator</title>
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    
   
   <div id="app" class="container" style="width: 600px;">
	   
	   
    <h1 class="text-center mt-4">Text to List Generator</h1>
      
      <div style="padding:0px; margin:0px;text-align:center;" >
        <p class="badge badge-warning text-center"  >{{ errorText }}</p>
      </div>
      
      <ul class="list-group mt-1" v-if="lists.length != 0">
        <li class="list-group-item" @click="copyText(event)" v-for="list in lists">
          {{ list }}
	 
        </li>
      </ul>
      
      <div class="form-group mt-3">
        <textarea rows="10" v-model="result" @keyup.enter="generateList(1)" class="form-control">
        </textarea>
      </div>
      
      <input type="submit"  v-if="check" class="btn btn-primary" v-on:click="generateList(2)" value="Generate">
      
      <input type="checkbox" class="ml-4" v-model="check" @change="toggleCheck($event)"  />
      <label>Use enter key to submit</label>
      
    </div>
	

       <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	  
	       <script>
	  var app = new Vue({
  el: '#app',
  data: {
    result: '',
    lists: [],
    check: true,
    errorText: ''
	  
  },
  
 methods: {
generateList:function(type){
 
   if(type == 1){
        if(this.check){
          this.performGenerate()
	
        }else{
          return
        }
   }else{
      this.performGenerate()
   }
 
 },
copyText: function(event){
  function Clipboard(text) {
  const textArea = document.createElement("textarea");
  textArea.value = text;
  
  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    const successful = document.execCommand('copy');
    const msg = successful ? 'successful' : 'unsuccessful';
    console.log('Fallback: Copying text command was ' + msg);
  } catch (err) {
    console.error('Fallback: Oops, unable to copy', err);
  }

  document.body.removeChild(textArea);
}

Clipboard(event.target.outerText);
 	
 
},
performGenerate: function(){
    if(this.result != "") {
        const list = this.result.trim().split(".")  
          this.lists = list.filter(i=> i !== '').map(i=>i+'.')
          this.result = ""
    }else{
    		this.errorText = "We need those lengthy words you know!"
      setTimeout(()=> this.errorText = "", 1000)
    }
},
toggleCheck: function($event){
     console.log($event)
}
  }
})
	  
     </script>    

  </body>
</html>
